{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block body %}

    <!--Page Title-->

    <section class="page-title">
        <div class="auto-container">
            <div class="inner-container clearfix">

            </div>
        </div>
    </section>

    <!--End Page Title-->

    <!-- Blog Detail -->
    <div class="blog-detail style-two">
        <div class="inner-container">
            <!-- News Block -->
            <div class="news-block-two">
                <div class="inner-box">
                     <div class="image-box">
                        <figure class="image"><img src="{{post.image_detail_head.url}}" alt=""></figure>
                    </div>

                    <div class="caption-box">
                        <div class="inner">
                            <h3>{{post.title}}</h3>
                            <ul class="info">
                                <li>{{post.created_at|date:"F j, Y"}}</li>
                                <li><a href="#">{{post.author}}</a></li>
                            </ul>
                            <p>{{post.description_one|safe}}</p>
                            <blockquote>
                                <i class="fa fa-quote-left"></i> {{post.description_blockquote|safe}}
                            </blockquote>
                            <div class="tow-column row">
                                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                    <figure class="image"><img src="{{post.image_detail_body.url}}" alt=""></figure>
                                </div>
                                <div class="text-column col-lg-6 col-md-12 col-sm-12">
                                    <p>{{post.description_two|safe}}</p>
                                </div>
                            </div>
                            <p>{{post.description_three|safe}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tags -->
            <div class="tags clearfix">
                <span class="title">{% trans "Tags:" %}</span>
                {% for tag in tags %}
                <ul>
                    <li><a >{{tag.name}}</a></li>
                </ul>
                {% endfor %}
            </div>

        
           
        </div>
    </div>
    <!-- End Blog Detail -->


{% endblock body %}



